---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %}
<div class="rounded mb-5 hero">
  <div class="row align-items-flex-start justify-content-between">
    <div class="col-md-6 web-build-left">
      <h1 class="font-weight-bold mb-4 serif-font">Build something awesome with <span class="tendaytag">#10DayWebBuild!</span></h1>
      <a href="{{site.baseurl}}/about" class="btn btn-dark text-white btn-lg">Learn More</a>
    </div>
    <div class="col text-right pl-0 pl-lg-4">

      <ul class="web-build-list">
        <li data-num="1">Work on your new website every day for 10 days. This includes programming, design, brainstorming, or anything that will help progress your website.</li>
        <li data-num="2">Tweet about your progress every day. As long as it's about your website, it counts. Talk about your progress, ideas, or any setbacks you are facing.</li>
        <li data-num="3">On the last day, your final tweet must include a link to a live version of your new website, along with a screenshot of the website.</li>
      </ul>

      <!-- <img class="intro" height="500" src="{{site.baseurl}}/assets/images/intro.svg"> -->
    </div>
  </div>
</div>
{% endif %}

<!-- Main Content  
================================================== -->
<section class="row">
  {% include faq.html %}
</section>