<section class="faq">
	<h2>What is the #10DayWebBuild Challenge?</h2>
	<p>During the #10DayWebBuild, you’ll build a new website over a period of 10 days while posting about it on social media every day. There are no limits to what you can build, it can be as simple or complex as you desire. Any language, any framework, it’s all up to you.</p>

	<h2>What are the requirements?</h2>
	<ul>
        <li>The final version of the website must be hosted and have a live URL. Free hosting can be found in the links on the Resources page.
            </li>
        <li>The website must be responsive and mobile-friendly using techniques such as media queries.
            </li>
        <li>You must tweet every day for 10 days about your project.</li>
        <li>On the final day (day 10), you’ll post the link to the live URL along with a screenshot or picture of your final project.
            </li>
        <li>No broken links. You can ensure all of your links work with the Dead Link Checker.
            </li>
        <li>Accessibility best practices is not a requirement, but is highly recommended. You can find some free resources to help you with accessibility on the <a href="/resources" title="10DayWebBuild Resources">Resources</a> page.</li>
    </ul>

    <h2>Am I required to post my progress every day on social media?</h2>
    <p>Yes! #10DayWebBuild was created in order to help push new users to become active on social media. While there are other popular challenges such as #100daysofcode, it can be challenging to come up with new social media posts every day. #10DayWebBuild has one focus: posting about the website you are creating for the next 10 days.</p>
    <h3>Things you can post about:</h3>
    <ul>
        <li>Plans and ideas</li>
        <li>The design process</li>
        <li>New Features</li>
        <li>Bug fixes</li>
        <li>Setbacks and challenges</li>
        <li>Anything related to your website</li>
        <li>Questions</li>
    </ul>

    <h2>How to participate?</h2>
    <p>The challenge starts at any time you decide. This will allow you to pick the best time in your schedule that will allow you to focus on building your website over a period of 10 days.</p>
    <p>You will need a social media account if you don’t already have one. #10DayWebBuild originally started on Twitter (check out <a href="https://twitter.com/SeaFilmz/status/1653806676733231104?s=20" title="The first tweet showcasing 10DayWebBuild" rel="nofollow">the original post that started it all</a>), but you can use any social media platform you want.</p>
    <p>For the next 10 days, you’ll work on building your website and post about it every day on social media. How much you work on it each day is up to you. If you have a busy day and can only work on it for a few minutes, that’s fine! Just make sure to tweet about it. Don’t worry about missing a day or two either. The goal is to build it over 10 days, whether that’s 10 consecutive days or 10 days total. We encourage you to try and devote 10 consecutive days to the challenge if possible, but life happens and we understand. As long as you work on your website for a total of 10 days, and make 10 social media posts, you can consider the challenge completed!</p>
    <p>On your final day (day 10), you’ll be required to post a link to a live version of your website along with a picture or screenshot of the website you built. This will help show off all of your hard work on social media and help raise awareness about your efforts as a developer. Don’t know where to host your website? You can find a list of free resources <a href="/resources" title="Free resources to help create your website">here</a>, including a list of <a href="/resources#hosting" title="Free website hosting resources">website hosts</a> you can use to host your new website.</p>

    <h2>Don’t know where to start?</h2>
    <p>If you’re having trouble coming up with an idea, here is a list of some examples of a project you could build for your #10DayWebBuild:</p>
    <ul class="list-col-3">

        <li>A website about your hobbies</li>
        <li>Portfolio</li>
        <li>Blog</li>
        <li>Tech website</li>
        <li>Family recipes</li>
        <li>Photography gallery</li>
        <li>Health and fitness tracker</li>
        <li>Personal finance app</li>
        <li>A quiz site</li>
        <li>Movie review website</li>
        <li>To-do list</li>
        <li>A tribute page</li>
        <li>Educational learning website</li>
        <li>90s themed retro throwback site</li>
        <li>A store for selling your homemade arts & crafts</li>
        <li>A quiz site</li>
        <li>Pokemon name validator</li>
        <li>build a game</li>
        <li>a enviromental website</li>
    </ul>

    <blockquote>Don't overthink it! Pick one of these categories and make a website for the 10-day challenge, even if there are already similar sites out there. Remember, this is about challenging yourself and unleashing your creativity. You might surprise yourself with what you can create!</blockquote>
	
	<h2>New to web development?</h2>
	<p>This challenge is open to people of all levels of experience, from complete beginner to professionals. If you don’t know how to make a website and want to learn, <a href="https://leonnoel.com/100devs/" title="100Devs by Leon Noel" rel="nofollow">100Devs</a> can help. <a href="https://leonnoel.com/100devs/" title="100Devs by Leon Noel" rel="nofollow">100Devs</a> is a free bootcamp created by Leon Noel that can help you build the skills you need to participate, and even help you get a job as a Software Engineer if that’s your goal. They also have a fantastic community that is more than willing to help each other learn and grow.</p>

	<h2>Want to contribute?</h2>
	<p>Feel free to contribute to the <a href="https://github.com/SeaFilmz/10-day-web-build" title="Visit the 10DayWebBuild GitHub Repository">repository</a> or <a href="https://github.com/SeaFilmz/10-day-web-build/issues" title="Open a new issue on the 10DayWebBuild GitHub">open a new issue</a> if you have any questions or concerns. Feedback is always welcome!</p>
</section>
